/* HEADER */

.header-container{
    background-color: var(--clrGreen1);
    height: 75px;
}

.main-header {
    height: 100%
}

.router-link-exact-active {
    text-decoration: underline;
    color: var(--clrBlue);
}

.router-link-exact-active:hover {
    text-decoration: underline;
    transform: scale(1.07);
}

/* FOOTER */

.footer-container {
    background-color: var(--clrGreen1);
    height: 75px;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.main-footer{
    height: 100%
}