.home img{
    position: absolute;
    right: 10%;
    height: 50%;
    top: 20%;
    width: auto;
}

.home h1{
    position: absolute;
    font-size: xxx-large;
    left: 10%;
    top: 30%;
    width: 43%;
}