:root {
    --clrPink1: #FFCFDF;
    --clrPink2: #FFCBCB;
    --clrYellow1: #FEFDCA;
    --clrYellow2: #FFFDDE;
    --clrBlue: #A5DEE5;
    --clrPurple: #D9D7F1;
    --clrGreen1: #E0F9B5;
    --clrGreen2: #E7FBBE;
}